/* header {
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(72, 61, 139, 0.8);
    padding: 0 30px;
} */

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    top: 50px !important;
    right: 28px;
    left: unset !important;
}

.avatar {
    cursor: pointer;
}

.popover__header {
    padding: 10px 40px !important;
}

.popover__text {
    color: rgb(56, 50, 50);
}

header .logo {
    flex: 1;
}

header a {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}

.cart-icon {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 9999;
    border-radius: 50%;
    background-color: rgba(94, 171, 59, 0.516);
    padding: 20px;
}

.cart-icon:hover {
    background-color: rgba(29, 27, 27, 0.174);
    color: rgb(239, 235, 236);
}
