.products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
    margin: 20px 0 40px 0;
}

.category_list {
    padding: 4px 0 4px 10px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    position: relative;
}

.category_list::before {
    position: absolute;
    content: '';
    display: block;
    height: 1.2px;
    width: 90%;
    background-color: rgb(123, 109, 109);
    bottom: 0;
}

/* product item */
@import url('../ultils/ProductItem/productitem.css');

/* Load */

.load_more {
    text-align: center;
}

.load_more button {
    padding: 10px 25px;
    margin-bottom: 20px;
    border: 1px solid #555;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 12px;
    background-color: #83c5b4;
    font-weight: 500;
    color: black;
    border-radius: 6px;
}

.load_more button:hover {
    opacity: 0.8;
    color: white;
    background-color: #333;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}

.item_product {
}

.item_product:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
