.login_page {
    width: 480px;
    margin: auto;
    color: #444;
    padding: 0 15px;
    position: absolute;
    top: 48%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.forgot_password {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
    color: #ccc;
    padding: 14px;
    text-align: right;
}

/* ---------- Facebook / Google ---------------- */
.login_page .hr {
    margin: 15px 0;
    color: crimson;
}

.login_page .social button {
    width: 100%;
    margin-bottom: 10px;
    height: 36px;
    font-weight: 200;
    text-transform: capitalize;
    letter-spacing: 1.3px;
    border: none !important;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_page .social button > div {
    padding: 0 10px !important;
}

.login_page .social button:nth-child(1) {
    width: 100% !important;
}
