* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background: rgba(17, 17, 17, 0.078) !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px 0;
    position: fixed;
}

html::-webkit-scrollbar {
    position: fixed;
    width: 0;
    height: 0;
}

html::-webkit-scrollbar-thumb {
    position: fixed;

    border-radius: 10px;
    background: rgba(189, 182, 182, 0.694);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8);
}

.custome_drawer
    > .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px 0;
    position: fixed;
}

.custome_drawer
    > .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar {
    position: fixed;
    width: 0;
    height: 0;
}

.custome_drawer
    > .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-thumb {
    position: fixed;

    border-radius: 10px;
    background: rgba(189, 182, 182, 0.694);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8);
}

.App {
    max-width: 1240px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 10px;
    /* box-shadow: 0 0 8px #eee; */
    height: 100%;
    width: 100%;
    /* background: #334d50; 
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50); 
    background: linear-gradient(
        to right,
        #bab99b,
        #406164
    ); */
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}
button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

/* Header */
@import url('./components/global/headers/header.css');

/* Product CSS */
@import url('./components/mainpages/products/product.css');

/* detail css */
@import url('./components/mainpages/detailProduct/detailproduct.css');
/* Footer */
@import url('./components/global/footers/Footer.css');

/* css login */
@import url('./components/mainpages/auth/login.css');

/* css cart */
@import url('./components/mainpages/cart/cart.css');

/* css history */
@import url('./components//mainpages/history/history.css');

/* css categories */
@import url('./components/mainpages/categories/categories.css');

/* css category */

@import url('./components/mainpages/createProduct/createproduct.css');

/* ----------------- Responsive ------------------ */

.main_app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
